<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
   backupStaticAttributes="false"
   syntaxCheck="false" bootstrap="src/bootstrap.php">

<testsuites>
   <testsuite name="nf17">
     <directory suffix="Test.php">tests</directory>
   </testsuite>
</testsuites>

<filter>
  <whitelist>
    <directory suffix=".php">src</directory>
	<exclude>
		<directory suffix=".php">src/app</directory>
		<directory suffix=".php">src/config</directory>
		<file>src/bootstrap.php</file>
		<file>src/index.php</file>
	</exclude>
  </whitelist>
  <blacklist>
	<directory>test</directory>
	<directory>db</directory>
  </blacklist>
</filter>

<logging>
  <log type="coverage-html" target="build/coverage" title="nf17"
   charset="UTF-8" yui="true" highlight="true"
   lowUpperBound="35" highLowerBound="70"/>
  <log type="coverage-clover" target="build/logs/clover.xml"/>
  <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
</logging>
</phpunit>